html{
    font-family: "Inter", sans-serif;
    height: 100%

}

body{
    margin:0;
    background-color: #FAFAF8;
    height: 100%;
}


.suggested-recipe-container {
    color: #475467;
    line-height: 28px;
    font-size: 1.125rem;
    font-weight: 400;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
    margin-bottom: 8px;
}